.servicesSection {
    background: var(--color-light);
    position: relative;
}

.servicesSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(180deg, var(--color-white) 0%, var(--color-light) 100%);
    z-index: 0;
}

.servicesSection .container {
    position: relative;
    z-index: 1;
}